<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- 以下meta不需要响应式的删掉 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="wap-font-scale" content="no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />

    <meta name="copyright" content="Copyright 2014-2018 - www.uweb.net.cn">
    <meta name="Author" content="广州网站建设-优网科技 www.uweb.net.cn">
    <meta name="Robots" content="all">
    <meta name="Keywords" content="网站关键字">
    <meta name="Description" content="百度快照说明文字">
    <meta name="renderer" content="webkit">

    <title>已购知识库</title>

    <link rel="stylesheet" href="../../style/core.css" />
    <link rel="stylesheet" href="../../style/style.css" />
    <script type="text/javascript" src="../../script/jquery.js"></script>
</head>

<body>

    <div class="nav-header-wrap">
        <a href="#" class="iconfont icon-xiangzuobold back"></a>
        <h2>已购知识库</h2>
    </div>

    <div id="article">
        <ul class="common-problems-wrap knowledge-library">
            <li>
                <div class="hd">
                    <h3 class="title">WS-100高效环保清洗剂</h3>
                    <p class="info">高品质弱碱性水溶性强力除油剂，其独特配方，能迅速乳化，渗透，分散物体表面之油类污染物，是一款新型高效环保无磷产品...</p>
                </div>
                <div class="ft">
                    <p class="time">2019-2-28</p>
                    <a href="#" class="btn">查看详细>></a>
                </div>
            </li>
            <li>
                <div class="hd">
                    <h3 class="title">WS-100高效环保清洗剂</h3>
                    <p class="info">高品质弱碱性水溶性强力除油剂，其独特配方，能迅速乳化，渗透，分散物体表面之油类污染物，是一款新型高效环保无磷产品...</p>
                </div>
                <div class="ft">
                    <p class="time">2019-2-28</p>
                    <a href="#" class="btn">查看详细>></a>
                </div>
            </li>
            <li>
                <div class="hd">
                    <h3 class="title">WS-100高效环保清洗剂</h3>
                    <p class="info">高品质弱碱性水溶性强力除油剂，其独特配方，能迅速乳化，渗透，分散物体表面之油类污染物，是一款新型高效环保无磷产品...</p>
                </div>
                <div class="ft">
                    <p class="time">2019-2-28</p>
                    <a href="#" class="btn">查看详细>></a>
                </div>
            </li>
            <li>
                <div class="hd">
                    <h3 class="title">WS-100高效环保清洗剂</h3>
                    <p class="info">高品质弱碱性水溶性强力除油剂，其独特配方，能迅速乳化，渗透，分散物体表面之油类污染物，是一款新型高效环保无磷产品...</p>
                </div>
                <div class="ft">
                    <p class="time">2019-2-28</p>
                    <a href="#" class="btn">查看详细>></a>
                </div>
            </li>
            <li>
                <div class="hd">
                    <h3 class="title">WS-100高效环保清洗剂</h3>
                    <p class="info">高品质弱碱性水溶性强力除油剂，其独特配方，能迅速乳化，渗透，分散物体表面之油类污染物，是一款新型高效环保无磷产品...</p>
                </div>
                <div class="ft">
                    <p class="time">2019-2-28</p>
                    <a href="#" class="btn">查看详细>></a>
                </div>
            </li>
        </ul>
    </div>

    <div class="sideBar-wrap">
        <div class="box qq-box">
            <div class="qq-img"><img src="../../images/qq.png" alt=""></div>
            <a href="#" class="word">vip联盟客服</a>
        </div>
        <div class="box qq-box">
            <div class="qq-img"><img src="../../images/qq.png" alt=""></div>
            <a href="#" class="word">咨询·投诉</a>
        </div>
        <div class="box back-top-box" id="backTop"><i class="iconfont icon-huidaodingbu"></i></div>
    </div>
    <script>
        $(function() {
            footerEvent();
        })
    </script>
</body>
<script type="text/javascript" src="../../script/core.js"></script>
<script type="text/javascript" src="../../script/script.js"></script>

</html>