{include file="public/head" isIndex="0" /}

{include file="public/nav_header" /}

    <div id="page">
        <div class="recipe-list-wrap">
            <div class="recipe-filter-box">
                <div class="submit-recipe">
                    <div class="p">没有找到你需要的知识吗？</div>
                    <a href="{:url('/mobile/handleArchives/konwledge_demand')}" class="btn">提交你的需求</a>
                </div>
                <div class="recipe-search-box">
                    <form action="" class="common-search-block">
                        <div class="common-search-icon"><i class="iconfont icon-sousuo1"></i></div>
                        <div class="input-box"><input type="text" class="input" id="keywords" placeholder="输入相关关键词"></div>
                        <a href="javascript:search();" class="common-serach-btn">搜索</a>
                    </form>
                </div>
                <form action="">
                    <div class="common-filter-block">
                        <dl class="filter-txt">
                            <dt>知识类别：</dt>
                            <dd>
                                <select class="select-box" id="category">
                                    {cms:pagefilter id="filter" exclude=""}
                                    {volist name="$filter.content" id="item"}
                                    <option value="{if $item.title != '全部'}{$item.title}{/if}">{$item.title}</option>
                                    {/volist}
                                    {/cms:pagefilter}
                                </select>
                                <div class="filter-btn">选择类别 <i class="iconfont icon-jiantouyou"></i></div>
                            </dd>
                        </dl>
                    </div>
                    <div class="common-filter-block">
                        <dl class="filter-txt">
                            <dt>标&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;签：</dt>
                            <dd>
                                <select class="select-box" id="tags">
                                    {volist name='tags' id='item'}
                                    <option value="{if $item.title != '全部'}{$item.title}{/if}">{$item.title}</option>
                                    {/volist}
                                </select>
                                <div class="filter-btn">选择标签 <i class="iconfont icon-jiantouyou"></i></div>
                            </dd>
                        </dl>
                    </div>
                    <div class="common-filter-block">
                        <dl class="filter-txt">
                            <dt>分&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;类：</dt>
                            <dd>
                                <div class="select-item">
                                    <select class="select-box" id="category—type">
                                        <option value="">全部</option>
                                        <option value="industrial_cleaning_agent">[前处理]工业清洗剂</option>
                                        <option value="the_surface_film">[前处理]表面成膜</option>
                                        <option value="post_processing">后处理</option>
                                    </select>
                                    <div class="filter-btn">选择分类 <i class="iconfont icon-jiantouyou"></i></div>
                                </div>

                                <input type="hidden" id="category-value">

                                <div class="select-item category-industrial_cleaning_agent" style="display: none;">
                                    <select class="select-box" onchange="change(this)">
                                        <option value="">全部</option>
                                        {volist name='industrial_cleaning_agent' id='item'}
                                        <option value="{$item}">{$item}</option>
                                        {/volist}
                                    </select>
                                    <div class="filter-btn">选择分类 <i class="iconfont icon-jiantouyou"></i></div>
                                </div>

                                <div class="select-item category-the_surface_film" style="display: none;">
                                    <select class="select-box" onchange="change(this)">
                                        <option value="">全部</option>
                                        {volist name='the_surface_film' id='item'}
                                        <option value="{$item}">{$item}</option>
                                        {/volist}
                                    </select>
                                    <div class="filter-btn">选择分类 <i class="iconfont icon-jiantouyou"></i></div>
                                </div>

                                <div class="select-item category-post_processing" style="display: none;">
                                    <select class="select-box" onchange="change(this)">
                                        <option value="">全部</option>
                                        {volist name='post_processing' id='item'}
                                        <option value="{$item}">{$item}</option>
                                        {/volist}
                                    </select>
                                    <div class="filter-btn">选择分类 <i class="iconfont icon-jiantouyou"></i></div>
                                </div>

                                <div class="select-item category-">
                                    <select class="select-box">
                                        <option value="">全部</option>
                                    </select>
                                    <div class="filter-btn">选择分类 <i class="iconfont icon-jiantouyou"></i></div>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="btn-box">
                        <button type="button" class="sub-btn" onclick="search();">筛选</button>
                    </div>
                </form>
                <div class="tip-box">
                    <div class="p"><strong>温馨提示：</strong></div>
                    <div class="p">知识库已通过平台工程师严格审核，如有疑问，请咨询在线工程师或者客服。</div>
                </div>
            </div>
            <ul class="recipe-list-box">
                {volist name='$__PAGELIST__' id='item'}
                <li class="list">
                    <div class="item">
                        {if !empty($item.image) && $item.image != '/public'}
                        <a href="{:url('/mobile/archives/' . $item['id'])}" class="img-box"><img src="{$item.image}" alt="{$item.title}"></a>
                        {/if}
                        <div class="info-box">
                            <a href="{:url('/mobile/archives/' . $item['id'])}" class="title">
                                {if $item.price != 0}<div class="img"><img src="/assets/static_mobile/images/industry_1.png" alt=""></div>{/if}
                                <span class="txt">{$item.title}</span>
                                {if $item.flag == 'hot'}<span class="hot">HOT~</span>{/if}
                            </a>
                            <div class="msg">知识简介：{$item.description}</div>
                            <div class="region">来源：{$item.source}</div>
                            <div class="feature-box {if empty($item.image) || $item.image == '/public'}flex-right{/if}">
                                {if $item.price > 0}<span class="r-priced">已付款：{$item.paynum}</span>{/if}
                                <a href="javascript:;" onclick="like(this, {$item.id});" class="r-block">
                                    <span class="icon like {if $item.like}on{/if}"></span>
                                    <span class="r-txt">{$item.likes}</span>
                                </a>
                                <a href="javascript:;" onclick="collect(this, {$item.id});" class="r-block">
                                    <span class="icon collect {if $item.collect}on{/if}"></span>
                                    <span class="r-txt">收藏</span>
                                </a>
                            </div>
                            <a href="{:url('/mobile/archives/' . $item['id'])}" class="btn">查看详情 >></a>
                        </div>
                    </div>
                </li>
                {/volist}
            </ul>
        </div>
    </div>
    <script>
        //点赞
        function like(obj, id) {
            $.post('/handleArchives/like', {id:id}, function (data) {
                //如果处理成功才改变图标状态
                if (data.code == 1) {
                    showmsg(data.msg);
                    //获取span的图标对象
                    let span = $(obj).children('span').eq(0);
                    let span2 = $(obj).children('span').eq(1);
                    //判断是否激活
                    if (span.hasClass('on')) {
                        span.removeClass('on');
                        span2.text(parseInt(span2.text()) - 1);
                    } else {
                        span.addClass('on');
                        span2.text(parseInt(span2.text()) + 1);
                    }
                } else {
                    showmsg(data.msg,data.url);
                }
            })
        }

        //收藏文章
        function collect(obj, id)
        {
            $.post('/handleArchives/collect', {id:id}, function (data) {
                //如果处理成功才改变图标状态
                if (data.code == 1) {
                    showmsg(data.msg);
                    //获取span的图标对象
                    let span = $(obj).children('span').eq(0);
                    //判断是否激活
                    if (span.hasClass('on')) {
                        span.removeClass('on');
                    } else {
                        span.addClass('on');
                    }
                } else {
                    showmsg(data.msg,data.url);
                }
            })
        }

        let page = 1;
        function search() {
            $(".recipe-list-box").html('');
            page = 0;
            loadData();
        }

        function change(obj) {
            $('#category-value').val($(obj).val());
        }

        $(function() {
            $('#category—type').change(function () {
                $('.category-industrial_cleaning_agent').css('display', 'none');
                $('.category-the_surface_film').css('display', 'none');
                $('.category-post_processing').css('display', 'none');
                $('.category-').css('display', 'none');
                $('.category-' + $(this).val()).css('display', '');
                $('.category-industrial_cleaning_agent select').get(0).selectedIndex=0;
                $('.category-the_surface_film select').get(0).selectedIndex=0;
                $('.category-post_processing select').get(0).selectedIndex=0;
                $('#category-value').val('');
            })

            // 加载更多
            $(window).on('scroll', function() {
                var windowHeight = $(window).height(),
                    scrollTop = $(window).scrollTop(),
                    docHeight = $(document).height()
                if (scrollTop + windowHeight + 100 >= docHeight) {
                    loadData()
                }
            })
        })

        // 加载更多事件
        function loadData() {
            page++;
            let keywords = $("#keywords").val();
            let category = $("#category").val();
            let tags = $("#tags").val();
            let category_type = $("#category—type").val();
            let category_value = $("#category-value").val();
            let param = {page:page, keywords:keywords, 'filter[category]':category, tag:tags, category_type:category_type, category_value:category_value, ajaxTpl:1};
            $.get("{:url('/mobile/channel/konwledge')}", param, function(res){
                $(".recipe-list-box").append(res);
            });
        }
    </script>

{include file="public/footer" isIndex="0" footerBar="1"/}