{cms:pagelist id="item" channel="$__CHANNEL__.id" model="$__CHANNEL__.model_id" orderby="id" orderway="desc" addon="true"}
<li class="list-a">
    <div class="item">
        <div class="title">{$item.title}</div>
        <div class="info">
            <div class="p"><span>地点：{$item.province}{$item.city}{$item.area}</span><span>人数：{$item.number}</span></div>
            <div class="p"><span class="company">公司：{$item.company}</span></div>
        </div>
        <div class="icon"><i class="iconfont icon-jiantouyou"></i></div>
    </div>
    <div class="sub-item">
        {$item.content|htmlspecialchars_decode}
        <a href="{:url('enterprise/detail', ['id' => $item.enterprise_id])}" class="more-btn">了解公司更多信息>></a>
    </div>
</li>
{/cms:pagelist}
