{include file="public/head" isMember="0"/}

    <div class="common-page-content">
        <div class="wp1200">
            <div class="breadcrumb">
                <a href="/" class="min-logo">
                    <img src="/assets/static/images/min_logo.jpg" alt="">
                </a>
                <i class="iconfont icon-jiantouyou"></i>
                <a href="{:url('/channel/' . $__CHANNEL__.diyname)}" class="bread-hover">{$__CHANNEL__.name}</a>
            </div>
            <div class="common-problem-wrap clearfloat">
                <div class="common-problem-nav">
                    <div class="title">{$__CHANNEL__.name}</div>
                </div>
                <div class="common-problem-content">
                    <h2>{$__CHANNEL__.name}</h2>
                    <h3>{$__CHANNEL__.description}</h3>
                    <ul class="problem-list-wrap">
                        {volist name='$__PAGELIST__' id='item'}
                        <li class="problem-list">
                            <a href="{if isset($item.link)}{$item.link}{else}{:url('/archives/' . $item.id)}{/if}" class="inner-problem clearfloat">
                                <div class="info-box">
                                    <h4>{$item.title}</h4>
                                    <p class="txt">{$item.description}</p>
                                    <div class="date-txt">{$item.createtime|date='Y-m-d', ###}</div>
                                </div>
                                <div class="btn-box">
                                    <div class="inner-btn">查看详细</div>
                                </div>
                            </a>
                        </li>
                        {/volist}
                    </ul>
                    <div class="paged">
                        {$__PAGELIST__->render()}
                    </div>
                </div>
            </div>
        </div>
    </div>

{include file="public/footer"  /}