{include file="public/head" isMember="0" /}

<div class="common-page-content">
    <div class="wp1200">
        <div class="breadcrumb">
            <a href="/" class="min-logo">
                <img src="/assets/static/images/min_logo.jpg" alt="">
            </a>
            <i class="iconfont icon-jiantouyou"></i>
            <a href="{:getLink(0, $__CHANNEL__.diyname)}" class="bread-hover">人才供应</a>
        </div>
        <div class="recruitment-wrap">
            <form action="" method="get" id="searchform">
                <div class="tab-filter-wrap">
                    <div class="tab-list">
                        <div class="tab-item"><a href="{:getLink(71)}">人才需求</a></div>
                        <div class="tab-item"><a href="{:getLink(0, $__CHANNEL__.diyname)}" class="on">人才供应</a></div>
                    </div>
                    <div class="filter-block ptb0">
                        <div class="filter-list">
                            {volist name="__FILTERLIST__" id="v"}
                            <dl class="clearfloat">
                                <dt>{$v.title}：</dt>
                                <dd>
                                    {volist name="$v.content" id="item"}
                                    <a href="{$item.url}" class="{$item.active?'on':''}">{$item.title}</a>
                                    {/volist}
                                </dd>
                            </dl>
                            {/volist}
                        </div>
                    </div>
                </div>
                <div class="adv-search-banner clearfloat">
                    <div class="img">
                        <?php $ad = get_banner(35, 1);?>
                        {volist name="ad" id="v"}
                            <img src="{$v.pic}" alt="">
                        {/volist}
                    </div>
                    <div class="search-region">
                        <div class="common-search-box w390">
                            <div class="common-search-input-box w70">
                                <input type="text" class="search--input" name="keyword" placeholder="输入相关关键词" value="{:input('keyword')}">
                                <i class="iconfont icon-sousuo1 search--icon"></i>
                            </div>
                            <a href="javascript:$('#searchform').submit()" class="search--btn w70">搜索</a>
                        </div>
                    </div>
                </div>
            </form>
            <ul class="recruitment-list-box">
                {cms:pagelist id="item" channel="$__CHANNEL__.id" model="$__CHANNEL__.model_id" orderby="id" orderway="desc" addon="true"}
                <li class="recruitment-list">
                    <div class="js-inner-recruitment clearfloat">
                        <div class="row row-02">期望职位：{$item.title}</div>
                        <div class="row row-02">姓名：{$item.name}</div>
                        <div class="row row-02">工作年限：{$item.term}</div>
                        <div class="arrow"><i class="iconfont icon-jiantouxia"></i></div>
                    </div>
                    <div class="sub">
                        {$item.content|htmlspecialchars_decode}
                    </div>
                </li>
                {/cms:pagelist}
            </ul>
            <div class="paged">
                {cms:pageinfo type="full" /}
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {

        $('.js-inner-recruitment').on('click', function () {
            if($(this).hasClass('on')) {
                $(this).removeClass('on').next().slideUp('linear');
            }else {
                $(this).addClass('on').next().slideDown('linear').end().parent().siblings().find('.js-inner-recruitment').removeClass('on').next().slideUp('linear');
            }
        })
    })
</script>
{include file="public/footer"  /}