<div class="footer">
    <div class="footer-hd">
        <div class="wp1200">
            <div class="inner-footer-hd clearfloat">
                <div class="friendly-txt">友情链接：</div>
                <div class="friendly-list">
                    {cms:arclist  id="item" channel="53" model="5" orderby="id" orderway="desc" addon="true"}
                    <a href="{$item.link}" class="friendly-item">{$item.title}</a>
                    {/cms:arclist}
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bd">
        <div class="wp1200">
            <div class="inner-footer-bd clearfloat">
                <div class="left-wrap">
                    <dl>
                        <dt>合作共赢</dt>
                        <dd><a href="/archives/45">广告入驻</a></dd>
                        <dd><a href="/archives/46">加入我们</a></dd>
                        <dd><a href="/archives/167">联系我们</a></dd>
                    </dl>
                    <dl>
                        <dt>关于我们</dt>
                        <dd><a href="/archives/48">关于我们</a></dd>
                    </dl>
                    <dl>
                        <dt>新手指南</dt>
                        <dd><a href="/archives/50">交易流程</a></dd>
                        <dd><a href="/archives/49">交易规则</a></dd>
                        <dd><a href="/channel/common_problems">常见问题</a></dd>
                    </dl>
                    <dl>
                        <dt>网站条款</dt>
                        <dd><a href="/archives/51">服务协议</a></dd>
                        <dd><a href="/archives/52">隐私策略</a></dd>
                        <dd><a href="/archives/53">法律申明</a></dd>
                    </dl>
                    <dl>
                        <dt>网站地图</dt>
                        <dd><a href="/archives/55">网站地图</a></dd>
                    </dl>
                </div>
                <div class="right-wrap">
                    <div class="ewm-block">
                        <img src="/assets/cms/images/ewm.jpg" alt="">
                    </div>
                    <p>微信订阅号</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-ft">
        <div class="wp1200">
            <div class="inner-footer-ft clearfloat">
                <div class="left-box">
                    <div class="left-txt1">全国统一销售热线：4006-730-739 ( 星期一至周五：8:30-17:30 )</div>
                    <div class="left-txt2">
                        Copyright ©2018-2019 深圳市新葳科技有限公司
                        <a target="_blank" href="http://www.miitbeian.gov.cn">粤ICP备12034962号-1</a>
                        网站建设：
                        <a title="专业广州网站建设|专业深圳网站建设|优网科技" target="_blank" href="http://www.uweb.net.cn/">优网科技</a>
                    </div>
                </div>
                <div class="right-box">
                    <div class="img-box">
                        <img src="/assets/cms/images/tel_icon.png" class="tel-icon" alt="">
                    </div>
                    <div class="tel-number-box">
                        <p class="num-txt">400-877-8868</p>
                        <p class="min-txt">24小时免费服务热线</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript" src="/assets/cms/script/core.js"></script>
<script type="text/javascript" src="/assets/cms/script/script.js"></script>

</html>