<div class="common-member-left-wrap">
    <div class="title">我的主页</div>
    <ul class="nav-list-box">
        <li>
            <div class="list-item clearfloat">
                <p class="list-t"><span class="txt">我是专家</span></p>
                <p class="list-icon"><i class="iconfont icon-jiantouyou"></i></p>
            </div>
            <div class="sub">
                <a href="#" class="sub-item active">专家申请认证</a>
                <a href="#" class="sub-item">我的在线服务</a>
                <a href="#" class="sub-item">我的现场服务</a>
                <a href="#" class="sub-item">在线服务抢单</a>
            </div>
        </li>
        <li>
            <div class="list-item clearfloat">
                <p class="list-t"><span class="txt">我的企业</span></p>
                <p class="list-icon"><i class="iconfont icon-jiantouyou"></i></p>
            </div>
            <div class="sub">
                <a href="#" class="sub-item">专家申请认证</a>
                <a href="#" class="sub-item">我的在线服务</a>
                <a href="#" class="sub-item">我的现场服务</a>
                <a href="#" class="sub-item">在线服务抢单</a>
            </div>
        </li>
        <li>
            <div class="list-item clearfloat">
                <p class="list-t"><span class="txt">我的订单记录</span><span class="tip">·</span></p>
                <p class="list-icon"><i class="iconfont icon-jiantouyou"></i></p>
            </div>
            <div class="sub">
                <a href="#" class="sub-item">专家申请认证</a>
                <a href="#" class="sub-item">我的在线服务</a>
                <a href="#" class="sub-item">我的现场服务</a>
                <a href="#" class="sub-item">在线服务抢单</a>
            </div>
        </li>
        <li>
            <div class="list-item clearfloat">
                <p class="list-t"><span class="txt">我要投稿</span></p>
                <p class="list-icon"><i class="iconfont icon-jiantouyou"></i></p>
            </div>
            <div class="sub">
                <a href="#" class="sub-item">专家申请认证</a>
                <a href="#" class="sub-item">我的在线服务</a>
                <a href="#" class="sub-item">我的现场服务</a>
                <a href="#" class="sub-item">在线服务抢单</a>
            </div>
        </li>
        <li>
            <div class="list-item clearfloat">
                <p class="list-t"><span class="txt">我的收藏</span></p>
                <p class="list-icon"><i class="iconfont icon-jiantouyou"></i></p>
            </div>
            <div class="sub">
                <a href="#" class="sub-item">专家申请认证</a>
                <a href="#" class="sub-item">我的在线服务</a>
                <a href="#" class="sub-item">我的现场服务</a>
                <a href="#" class="sub-item">在线服务抢单</a>
            </div>
        </li>
        <li>
            <div class="list-item clearfloat">
                <p class="list-t"><span class="txt">我要提现</span></p>
                <p class="list-icon"><i class="iconfont icon-jiantouyou"></i></p>
            </div>
            <div class="sub">
                <a href="#" class="sub-item">专家申请认证</a>
                <a href="#" class="sub-item">我的在线服务</a>
                <a href="#" class="sub-item">我的现场服务</a>
                <a href="#" class="sub-item">在线服务抢单</a>
            </div>
        </li>
    </ul>
</div>

<script>
    $(function() {
        memberLeftNavEvent();
    })
</script>