<div class="article-r-nav-wrap">
    <a href="#" class="custom-service"><img src="images/service_icon_1.png" alt=""></a>
    <ul class="r-nav-list">
        <li>
            <a href="#" class="item bg-red">
                <p class="w-txt">点击</p>
                <p class="y-txt">有喜</p>
            </a>
        </li>
        <li>
            <a href="#" class="item">
                <i class="iconfont icon-erweima"></i>
                <div class="ewm-sub">
                    <img src="images/ewm.jpg" alt="">
                </div>
            </a>
        </li>
        <li>
            <a href="#" class="item">
                <i class="iconfont icon-wenhao"></i>
            </a>
        </li>
        <li>
            <a href="#" class="item" id="goback_top">
                <i class="iconfont icon-huidaodingbu"></i>
            </a>
        </li>
    </ul>
</div>

<script>
    $(function() {
        returnTop();
    })
</script>