<div class="common-adv-sidebar">
    <a href="#" class="special-adv-wrap">
        <img src="images/adv_1.jpg" alt="">
    </a>
    <div class="usual-adv-wrap">
        <div class="usual-adv-banner support-banner clearfloat">
            <div class="h2">优质供应商参展信息</div>
            <a href="#" class="ahref">从这里了解更多配方需求</a>
        </div>
        <ul class="hot-recipe-box">
            <li class="list">
                <a href="#" class="item clearfloat">
                    <div class="img"><img src="../../images/hot_recipe_2.jpg" alt=""></div>
                    <div class="info-box">
                        <h4>2018上海国际高空作业及建筑</h4>
                        <p>2018上海国际高空作业及建筑安全防护产品技术展览会</p>
                    </div>
                </a>
            </li>
            <li class="list">
                <a href="#" class="item clearfloat">
                    <div class="img"><img src="../../images/hot_recipe_2.jpg" alt=""></div>
                    <div class="info-box">
                        <h4>2018上海国际高空作业及建筑</h4>
                        <p>2018上海国际高空作业及建筑安全防护产品技术展览会</p>
                    </div>
                </a>
            </li>
            <li class="list">
                <a href="#" class="item clearfloat">
                    <div class="img"><img src="../../images/hot_recipe_2.jpg" alt=""></div>
                    <div class="info-box">
                        <h4>2018上海国际高空作业及建筑</h4>
                        <p>2018上海国际高空作业及建筑安全防护产品技术展览会</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="usual-adv-wrap">
        <div class="usual-adv-banner clearfloat">
            <div class="h2">用户配方需求</div>
            <a href="#" class="ahref">从这里了解更多配方需求</a>
        </div>
        <ul class="need-list-box">
            <li class="list">
                <a href="#" class="item">
                    <h3>金属表面处理剂成分</h3>
                    <p>金属表面处理剂是指为了提高粘接性能，用作处理塑料、填料、颜料和粘接载体等表面的物质。</p>
                </a>
            </li>
            <li class="list">
                <a href="#" class="item">
                    <h3>金属表面处理剂成分</h3>
                    <p>金属表面处理剂是指为了提高粘接性能，用作处理塑料、填料、颜料和粘接载体等表面的物质。</p>
                </a>
            </li>
            <li class="list">
                <a href="#" class="item">
                    <h3>金属表面处理剂成分</h3>
                    <p>金属表面处理剂是指为了提高粘接性能，用作处理塑料、填料、颜料和粘接载体等表面的物质。</p>
                </a>
            </li>
            <li class="list">
                <a href="#" class="item">
                    <h3>金属表面处理剂成分</h3>
                    <p>金属表面处理剂是指为了提高粘接性能，用作处理塑料、填料、颜料和粘接载体等表面的物质。</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="usual-adv-wrap">
        <div class="usual-adv-banner clearfloat">
            <div class="h2">热门配方</div>
            <a href="#" class="ahref">从这里了解更多配方需求</a>
        </div>
        <ul class="hot-recipe-box">
            <li class="list">
                <a href="#" class="item clearfloat">
                    <div class="img"><img src="../../images/hot_recipe_1.jpg" alt=""></div>
                    <div class="info-box">
                        <h4>环氧树脂胶纸</h4>
                        <p>环氧树脂胶纸环氧树脂胶纸环氧树脂胶纸</p>
                    </div>
                </a>
            </li>
            <li class="list">
                <a href="#" class="item clearfloat">
                    <div class="img"><img src="../../images/hot_recipe_1.jpg" alt=""></div>
                    <div class="info-box">
                        <h4>环氧树脂胶纸</h4>
                        <p>环氧树脂胶纸环氧树脂胶纸环氧树脂胶纸</p>
                    </div>
                </a>
            </li>
            <li class="list">
                <a href="#" class="item clearfloat">
                    <div class="img"><img src="../../images/hot_recipe_no.jpg" alt=""></div>
                    <div class="info-box">
                        <h4>环氧树脂胶纸</h4>
                        <p>环氧树脂胶纸环氧树脂胶纸环氧树脂胶纸</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="usual-adv-wrap">
        <div class="usual-adv-banner clearfloat">
            <div class="h2">推荐产品</div>
            <a href="#" class="ahref">从这里了解更多配方需求</a>
        </div>
        <ul class="recommend-list-box">
            <li class="list">
                <a href="#" class="item">
                    <div class="img-box"><img src="../../images/enterpeise_4.jpg" alt=""></div>
                    <div class="price-box clearfloat">
                        <p class="name">热塑性弹性体</p>
                        <p class="price-txt">￥<span>198.00</span>/千克</p>
                    </div>
                </a>
            </li>
            <li class="list">
                <a href="#" class="item">
                    <div class="img-box"><img src="../../images/enterpeise_4.jpg" alt=""></div>
                    <div class="price-box clearfloat">
                        <p class="name">热塑性弹性体</p>
                        <p class="price-txt">￥<span>198.00</span>/千克</p>
                    </div>
                </a>
            </li>
            <li class="list">
                <a href="#" class="item">
                    <div class="img-box"><img src="../../images/enterpeise_4.jpg" alt=""></div>
                    <div class="price-box clearfloat">
                        <p class="name">热塑性弹性体</p>
                        <p class="price-txt">￥<span>198.00</span>/千克</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="usual-adv-wrap">
        <div class="usual-adv-banner clearfloat">
            <div class="h2">常见问题</div>
            <a href="#" class="ahref">从这里了解更多常见问题</a>
        </div>
        <ul class="question-list-box">
            <li class="list">
                <a href="#" class="item">常见化工设备操作你了解多少？</a>
            </li>
            <li class="list">
                <a href="#" class="item">常见化工设备操作你了解多少？</a>
            </li>
            <li class="list">
                <a href="#" class="item">常见化工设备操作你了解多少？</a>
            </li>
            <li class="list">
                <a href="#" class="item">常见化工设备操作你了解多少？</a>
            </li>
            <li class="list">
                <a href="#" class="item">常见化工设备操作你了解多少？</a>
            </li>
            <li class="list">
                <a href="#" class="item">常见化工设备操作你了解多少？</a>
            </li>
        </ul>
    </div>
    <div class="usual-adv-wrap">
        <div class="usual-adv-banner clearfloat">
            <div class="h2">读者推荐</div>
            <a href="#" class="ahref">从这里了解更多常见问题</a>
        </div>
        <ul class="reader-list-box">
            <li class="list">
                <a href="#" class="item">
                    <h2><img src="../../images/industry_2.png" alt=""><span class="h2-txt">金属表面处理剂成分金属表面处理剂成分金属表面处理剂成分</span></h2>
                    <p class="t-p">金属表面处理剂是指为了提高粘接性能，用作处理塑料、填料、颜料和粘接载体等表面的物质。</p>
                </a>
            </li>
            <li class="list">
                <a href="#" class="item">
                    <h2><span class="h2-txt">金属表面处理剂成分</span></h2>
                    <p class="t-p">金属表面处理剂是指为了提高粘接性能，用作处理塑料、填料、颜料和粘接载体等表面的物质。</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="adv-banner-box">
        <a href="#"><img src="images/adv_2.jpg" alt=""></a>
        <a href="#"><img src="images/adv_3.jpg" alt=""></a>
        <a href="#"><img src="images/adv_4.jpg" alt=""></a>
        <a href="#"><img src="images/adv_5.jpg" alt=""></a>
    </div>
</div>