<style>
    .level-common-wrap .contact-wrap .map-box img {width: auto; height: auto;}
</style>

<div class="contact-wrap clearfloat">
    <div class="contact-msg-box">
        {$info.contact_text|htmlspecialchars_decode}
    </div>
    <div class="map-box" id="map"></div>
</div>
<div class="contact-form-wrap">
    <form name="message" action="/diyform/post.html" method="post">
        {:token('message_token')}
        <input type="hidden" name="__diyname__" value="message">
        <input type="hidden" name="row[enterprise_id]" value="{$info.id}">
        <input type="hidden" name="row[enterprise]" value="{$info.company}">
        <h3>留言反馈</h3>
        <div class="contact-form-row clearfloat">
            <div class="row-input w552">
                <div class="text">
                    <span class="red">*</span>
                    <span class="name">姓名：</span>
                </div>
                <div class="input"><input type="text" name="row[uname]" datatype="*" nullmsg="请填写姓名"></div>
            </div>
            <div class="row-input w476">
                <div class="text">
                    <span class="red">*</span>
                    <span class="name">联系电话：</span>
                </div>
                <div class="input"><input type="text" name="row[tel]" datatype="*" nullmsg="请填写联系电话"></div>
            </div>
        </div>
        <div class="contact-form-row clearfloat">
            <div class="row-input">
                <div class="text">
                    <span class="red">*</span>
                    <span class="name">联系地址：</span>
                </div>
                <div class="input"><input type="text" name="row[location]" datatype="*" nullmsg="请填写联系地址"></div>
            </div>
        </div>
        <div class="contact-form-row">
            <div class="row-textarea">
                <div class="text block">
                    <span class="red">*</span>
                    <span class="name">留言：</span>
                </div>
                <textarea rows="5" class="text-area" name="row[message]" datatype="*" nullmsg="请填写留言"></textarea>
            </div>
        </div>
        <div class="contact-form-ft clearfloat">
            <div class="yzm-block clearfloat">
                <div class="row-input w730">
                    <div class="text">
                        <span class="red">*</span>
                        <span class="name">验证码：</span>
                    </div>
                    <div class="input"><input type="text" name="captcha" datatype="*" nullmsg="请填写验证码"></div>
                </div>
                <div class="yzm-img"><img src="{:captcha_src()}" width="98" height="35" onclick="this.src = '{:captcha_src()}?r=' + Math.random();"/></div>
            </div>
            <button class="submit-btn">提 交</button>
        </div>
    </form>
</div>

<script type="text/javascript" src="/assets/static/script/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=W6V7r06TbAVRv7WM30fE05eOVh6PNoGX"></script>
<!-- <script type="text/javascript" src="https://api.map.baidu.com/api?key=hVeHCemBKQsC4Q0uevETWG9sN27jBrwz&v=1.1&services=true"></script> -->

<script>
    $(function () {
        $.Tipmsg.r = null;
        $('form[name="message"]').Validform({
            btnSubmit:".submit-btn",
            tipSweep: true,
            ajaxPost:true,
            tiptype: function (msg, o, cssctl) {
                if (!o.obj.is("form")) {
                    var objtip = o.obj.siblings(".checktip");
                    cssctl(objtip, o.type);
                    showmsg(msg);
                    return false;
                }
            },
            callback:function(data){
                if (data.code == 1) {
                    showmsg(data.msg, "{:url('index/enterprise/contact', ['id' => $info['id']])}")
                } else {
                    showmsg(data.msg);
                    $('input[name=message_token]').val(data.token);
                    $('.yzm-img img').trigger('click');
                }
            }
        });

    })
</script>

<script type="text/javascript">
    var markerArr = [];

    //创建和初始化地图函数：
    /**
     *
     * @param boxId 盒子ID
     * @param p1 坐标1
     * @param p2 坐标2
     * @param title 标注名字
     * @param address 标注地址
     * @param zoom 放大倍数
     */
    function initMap(boxId,p1,p2,title,address,zoom){
        createMap(boxId,p1,p2,zoom);//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        markerArr = [{title:title,content:address,isOpen:1,icon:{w:23,h:25,l:46,t:21,x:9,lb:12}}
        ];//标注点数组
        addMarker(p1,p2);//向地图中添加marker
    }
    //创建地图函数：
    function createMap(boxId,p1,p2,zoom){
        var map = new BMap.Map(boxId);//在百度地图容器中创建一个地图
        var point = new BMap.Point(p1,p2);//定义一个中心点坐标
        map.centerAndZoom(point,zoom);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }
    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }
    //地图控件添加函数：
    function addMapControl(){
        //向地图中添加缩放控件
        var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
        map.addControl(ctrl_nav);
        //向地图中添加比例尺控件
        var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
        map.addControl(ctrl_sca);
    }

    //创建marker
    function addMarker(p1,p2){
        for(var i=0;i<markerArr.length;i++){
            var json = markerArr[i];
            var point = new BMap.Point(p1,p2);
            var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point,{icon:iconImg});
            var iw = createInfoWindow(i);
            var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
            marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                borderColor:"#808080",
                color:"#333",
                cursor:"pointer",
            });

            (function(){
                var index = i;
                //var _iw = createInfoWindow(i);
                //var _marker = marker;
                // _marker.addEventListener("click",function(){
                //     this.openInfoWindow(_iw);
                // });
                // _iw.addEventListener("open",function(){
                //     _marker.getLabel().hide();
                // })
                // _iw.addEventListener("close",function(){
                //     _marker.getLabel().show();
                // })
                // label.addEventListener("click",function(){
                //     _marker.openInfoWindow(_iw);
                // })
                // if(!!json.isOpen){
                //     label.hide();
                //     _marker.openInfoWindow(_iw);
                // }
            })()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i){
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json){
        var icon = new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
        return icon;
    }

    initMap('map','<?php echo str_replace(',', "','", $info['coordinate']);?>','{$info.company}','',16); //创建和初始化地图
</script>