{include file="public/head" isIndex="0" /}

{include file="public/nav_header" /}

    <div id="member">
        <div class="background"></div>
        <div class="ask-questions-wrap">
            <form id="form1" action="{:url('/mobile/expert/online')}" method="post">
                {:token('online_token')}
                <div class="form-row">
                    <div class="row-left">
                        <div class="left-txt">标题<span class="red-star">*</span></div>
                        <div class="input-box">
                            <input type="text" name="row[title]" datatype="*" nullmsg="请填写标题" class="input">
                        </div>
                    </div>
                </div>
                <div class="text-area">
                    <div class="textarea-word">问题描述<span class="red-star">*</span></div>
                    <textarea rows="8" name="row[question_description]" datatype="*" nullmsg="请填写问题描述" class="textarea"></textarea>
                </div>
                <div class="form-row">
                    <div class="row-left">
                        <div class="left-txt">工程师级别<span class="red-star">*</span></div>
                        <div class="member-select-box">
                            <select class="select level-price" name="row[level]" datatype="*" nullmsg="请选择工程师级别">
                                <option value="">请选择工程师级别</option>
                                <option value="1">工程师</option>
                                <option value="2">高级工程师</option>
                                <option value="3">专家</option>
                            </select>
                            <div class="icon-box"><i class="iconfont icon-jiantouxia"></i></div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row-left">
                        <div class="left-txt">附件上传</div>
                        <div class="input-box">
                            <input type="text" readonly name="row[file]" class="file-input-val online-file">
                        </div>
                    </div>
                    <div class="row-right">
                        <div class="file-box">
                            <input type="file" class="file">点击上传
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row-left">
                        <div class="left-txt">支付金额（￥）<span class="red-star">*</span></div>
                        <div class="input-box">
                            <input type="text" id="question-pirce" name="row[price]" datatype="*,/(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/" nullmsg="请填写支付金额" errormsg="格式错误，不能为负数，保留两位小数" class="input">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row-left">
                        <div class="left-txt">验证码<span class="red-star">*</span></div>
                        <div class="input-box">
                            <input type="text" datatype="*" nullmsg="请填写验证码" name="captcha" class="file-input-val">
                        </div>
                    </div>
                    <div class="row-right">
                        <div class="yzm-box">
                            <img src="{:captcha_src()}" onclick="this.src = '{:captcha_src()}?r=' + Math.random();" alt="验证码没能获取到，请刷新重试">
                        </div>
                    </div>
                </div>
                <div class="agree-box">
                    <input type="checkbox" id="checkbox_01" class="checkbox" value="agree" name="ifAgree2" datatype="*" nullmsg="请阅读并接受协议内容">
                    <label for="checkbox_01" class="label-checkbox"><span class="checkbox-txt">我已了解并同意</span><a href="{:url('/mobile/archives/174')}" target="_blank">提问须知</a></label>
                </div>
                <a href="javascript:;" class="btn">确认提交及支付</a>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/assets/static/script/Validform_v5.3.2_min.js"></script>
    <script>
        $(function() {
            $('.file').on('change', function() {
                var file = $(this).get(0).files[0]
                var uploading = false;
                var formData = new FormData();
                formData.append("file", file);
                if(uploading){
                    return false;
                }
                $.ajax({
                    url : '/index/ajax/upload',
                    type : 'POST',
                    data : formData,
                    contentType: false,
                    processData: false,
                    dataType : 'json',
                    beforeSend: function(){
                        uploading = true;
                    },
                    success : function(data){
                        if (data.code == 1) {
                            $('.online-file').val(data.data.url)
                        } else {
                            showmsg(data.msg)
                        }
                        uploading = false;
                    }
                });
            })

            var price = ['0', '{$site.1_online_price}', '{$site.2_online_price}', '{$site.3_online_price}'];
            $('.level-price').change(function () {
                if ($(this).val() == '') {
                    $('#question-pirce').val($(this).val());
                } else {
                    $('#question-pirce').val(price[$(this).val()]);
                }
            });

            $.Tipmsg.r = null;
            $('#form1').Validform({
                btnSubmit:".btn",
                tipSweep: true,
                ajaxPost: true,
                tiptype: function (msg, o, cssctl) {
                    if (!o.obj.is("form")) {
                        var objtip = o.obj.siblings(".checktip");
                        cssctl(objtip, o.type);
                        showmsg(msg);
                        return false;
                    }
                },
                beforeSubmit:function(){
                    //验证金额
                    if ($('#question-pirce').val() < price[$('.level-price').val()]) {
                        showmsg('支付金额小于指定的金额，请修改后在提交（可以在当前指定金额上追加）');
                        return false;
                    }

                    return true;
                },
                callback: function (data) {
                    if (data.code == 1) {
                        if (data.data.price == 0 ) {
                            showmsg('支付成功', 'jump', "{:url('/mobile/user/myAskquestion')}");
                        } else {
                            window.location.href = data.data.url;
                        }
                    } else {
                        showmsg(data.msg);
                        $('input[name=online_token]').val(data.data.token);
                        $('.yzm-box img').trigger('click');
                    }
                }
            });
        })
    </script>

{include file="public/footer" isIndex="0" footerBar="0"/}