
{include file="public/head" isMember="1" /}

    <div class="common-member-wrap">
        <div class="wp1200">
            <div class="c--wrap clearfloat">

                {include file="public/member_left_nav" /}

                <div class="c--member-right-wrap">
                    <div class="expert-application-wrap">
                        <h2 class="title id-check">
                            <span class="id-t">{$title}</span>
                        </h2>
                        <div class="con-box">
                            {$content}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{include file="public/footer"  /}

