{include file="public/head" isMember="1" /}

<script type="text/javascript" src="/assets/static/script/Validform_v5.3.2_min.js"></script>
    <div class="common-member-wrap">
        <div class="wp1200">
            <div class="c--wrap clearfloat">

                {include file="public/member_left_nav" /}

                <div class="c--member-right-wrap">
                    <div class="c--inner my-reservation-wrap">
                        <h2 class="title">我的咨询</h2>
                        <ul class="my-reservation-list">
                            {volist name='list' id='item'}
                            <li>
                                <div class="title-box clearfloat">
                                    <h3>{$item.online_title}</h3>
                                    {if !empty($item.online_file)}
                                    <div class="download-btn">
                                        <a href="{$item.online_file}" class="a-btn" target="_blank">下载附件</a>
                                    </div>
                                    {/if}
                                    <div class="tt-date"><span class="tt-year">{$item.createtime|date='Y/m/d', ###}</span><span class="tt-time">{$item.createtime|date='H:i', ###}</span></div>
                                </div>
                                <div class="info-box">
                                    <div class="info-row clearfloat">
                                        {if empty($item.shop_id)}
                                        <p class="str-txt lh-25">等待专家接单</p>
                                        {else}
                                        <p class="str-txt lh-25">专家姓名：</p>
                                        <div class="right-str">
                                            <p class="s-nor-txt"><?php $expert = unserialize($item['online_expert_info']); echo $expert['nickname']; ?></p>
                                            <a href="{:url('/expert/detail', ['id' => $expert['id']])}" class="again-btn">再次咨询</a>
                                        </div>
                                        {/if}
                                    </div>
                                    <div class="info-row clearfloat">
                                        <p class="str-txt">问题描述：</p>
                                        <p class="nor-txt">{$item.online_question_description}</p>
                                    </div>
                                </div>
                                <div class="btn-box clearfloat">
                                    <a href="javascript:;" data-id="{$item.id}" class="h-btn alter-btn">订单删除</a>
                                    {if $item.confirm_finish == 1 && empty($item.appraise)}
                                    <a href="javascript:;" data-id="{$item.id}" class="h-btn evaluate-btn">我要评价</a>
                                    {elseif $item.confirm_finish == 1 && !empty($item.appraise)}
                                    <a href="javascript:;" style="background-color: #ff900e;width: 120px;" data-star="{$item.star}" data-appraise="{$item.appraise}" class="h-btn evaluate-view-btn">查看评价内容</a>
                                    {/if}
                                    {if $item.status == 1 && $item.confirm_finish == 0 && $item.online_is_reply == 1}
                                    <a href="javascript:;" data-id="{$item.id}" style="width: 130px;" class="h-btn confirm-btn">确定完成此次服务</a>
                                    {elseif $item.status == 1 && $item.confirm_finish == 1 && $item.online_is_reply == 1}
                                    <a href="javascript:;" style="background-color: #ff900e;width: 140px;" class="h-btn">已确认完成此次服务</a>
                                    {/if}
                                    {if $item.status == 1 && $item.online_is_reply == 1}
                                    <a href="javascript:;" data-val="{$item.online_replycontent}" style="background-color: #ff900e;" class="h-btn reply-btn">查看回复</a>
                                    {elseif $item.status == 1 && ($item.online_is_rollback != 1 || $item.online_is_commit == 1)}
                                    <a href="javascript:;" class="h-btn">待专家回复</a>
                                    {/if}
                                    {if $item.online_is_rollback == 1 && $item.online_is_commit == 0}
                                    <a href="javascript:;" data-id="{$item.online_id}" data-content="{$item.online_rollbackcontent}" class="h-btn rewrite-btn">重写提交</a>
                                    {/if}
                                    {if $item.status == 0 && time() < strtotime('+1 hour', $item.createtime)}
                                    <a href="javascript:;" style="width: 170px;" data-trade_sn="{$item.trade_sn}" data-title="{$item.title}" data-price="{$item.totalprice}" class="h-btn pay_btn">剩余<?php echo ceil((strtotime('+1 hour', $item['createtime']) - time())/60); ?>分钟，请尽快支付</a>
                                    {/if}
                                    {if $item.status == 2 || ($item.status == 0 && time() > strtotime('+1 hour', $item.createtime))}
                                    <a href="javascript:;" class="h-btn">订单已过期</a>
                                    {/if}
                                    <a href="https://wpa.qq.com/msgrd?v=3&uin=779088800&site=qq&menu=yes" target="_blank" class="h-btn">联系客服</a>
                                </div>
                            </li>
                            {/volist}
                        </ul>
                        <div class="paged">
                            {$list->render()}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-wrap rewrite-wrap">
            <div class="rewrite-content">
                <div class="modal-close"><i class="iconfont icon-fork"></i></div>
                <h2>重写提交</h2>
                <form id="form4" action="/user/resumitOnline" method="post" class="formId">
                    {:token()}
                    <input type="hidden" name="id" id="rewrite-id">
                    <div class="msg-block" style="padding-left: 10px;">
                        <p>驳回理由：</p><p class="rewrite-content-p"></p>
                    </div>
                    <div class="text-block">
                        <textarea rows="8" name="question_description"  datatype="*" nullmsg="请填写问题描述" class="textarea" placeholder="填写问题描述"></textarea>
                    </div>
                    <div class="file-block clearfloat">
                        <div class="input-box">
                            <input type="text" name="file" class="file-value">
                        </div>
                        <div class="file-btn"><input type="file" id="fileBtn">上传附件</div>
                    </div>
                    <div class="btn-block">
                        <button type="button" class="btn">确认提交</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-wrap reply-wrap">
            <div class="rewrite-content">
                <div class="modal-close"><i class="iconfont icon-fork"></i></div>
                <h2>查看回复</h2>
                <form action="" class="formId">
                    <div class="msg-block">
                        <p class="reply-content"></p>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-wrap evaluate-wrap">
            <div class="evaluate-content">
                <div class="modal-close"><i class="iconfont icon-fork"></i></div>
                <h2>我要评价</h2>
                <form id="form2" action="/user/appraise" method="post" class="formId">
                    {:token()}
                    <input type="hidden" name="id" id="reply-id">
                    <div class="form-row">
                        <div class="star-rate" style="padding-left: 20px;">
                            <div class="row-left">
                                <span class="txt">星级评价：</span>
                            </div>
                            <div class="row-right">
                                <input type="hidden" name="star" value="0" id="starCount">
                                <a href="javascript:;" data-star="1" class="star-default click-star-1">
                                    <img src="/assets/static/images/star.jpg" class="light" alt="">
                                    <img src="/assets/static/images/no_star.jpg" class="dark" alt="">
                                </a>
                                <a href="javascript:;" data-star="2" class="star-default click-star-2">
                                    <img src="/assets/static/images/star.jpg" class="light" alt="">
                                    <img src="/assets/static/images/no_star.jpg" class="dark" alt="">
                                </a>
                                <a href="javascript:;" data-star="3" class="star-default click-star-3">
                                    <img src="/assets/static/images/star.jpg" class="light" alt="">
                                    <img src="/assets/static/images/no_star.jpg" class="dark" alt="">
                                </a>
                                <a href="javascript:;" data-star="4" class="star-default click-star-4">
                                    <img src="/assets/static/images/star.jpg" class="light" alt="">
                                    <img src="/assets/static/images/no_star.jpg" class="dark" alt="">
                                </a>
                                <a href="javascript:;" data-star="5" class="star-default click-star-5">
                                    <img src="/assets/static/images/star.jpg" class="light" alt="">
                                    <img src="/assets/static/images/no_star.jpg" class="dark" alt="">
                                </a>
                            </div>
                            <a href="javascript:;" class="reset" id="reset">重 置</a>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="message-box">
                            <div class="row-left">
                                <span class="star">*</span>
                                <span class="txt">评价内容：</span>
                            </div>
                            <textarea rows="6" datatype="*" nullmsg="请填写评价内容" name="appraise" class="message-area"></textarea>
                        </div>
                    </div>
                    <div class="btn-box isSubmit-box">
                        <button type="button" class="sub-btn">确认提交</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-wrap alter-wrap">
            <div class="alter-content">
                <h2>提示</h2>
                <form id="form1" action="/user/deleteOL" method="post" class="formId">
                    {:token()}
                    <input type="hidden" name="id" id="id">
                    <p class="tip-t">请确认是否删除该订单？</p>
                    <div class="btn-box clearfloat">
                        <button type="button" id="confirm">是</button>
                        <button type="button" id="cancel">否</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-wrap confirm-wrap">
            <div class="alter-content">
<!--                <div class="modal-close"><i class="iconfont icon-fork"></i></div>-->
                <h2>提示</h2>
                <form id="form3" action="/user/confirm_finish" method="post" class="formId">
                    {:token()}
                    <input type="hidden" name="id" id="id-2">
                    <p class="tip-t">请确认是否确认结束？</p>
                    <div class="btn-box clearfloat">
                        <button type="button" id="confirm-2">是</button>
                        <button type="button" id="cancel-2">否</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-wrap pay-wrap">
            <div class="pay-content">
                <div class="modal-close"><i class="iconfont icon-fork"></i></div>
                <h2>支付信息</h2>
                <div class="pay-msg-box">
                    <div class="row"><span>订单号：</span><span id="trade_sn">82515009626</span></div>
                    <div class="row"><span>支付内容：</span><span class="txt-r" id="title">咨询费</span></div>
                    <div class="row"><span>需支付金额：￥</span><span class="txt-r txt-b" id="price">50</span><span>元</span></div>
                </div>
                <div class="pay-methods-box">
                    <p>选择支付方式</p>
                    <div class="pay-methods-inner">
                        <div class="block">
                            <input type="radio" id="Alipay" class="input-radio" name="pay">
                            <label for="Alipay" class="radio-label Alipay"></label>
                        </div>
                        <div class="block">
                            <input type="radio" id="Wxpay" class="input-radio" name="pay">
                            <label for="Wxpay" class="radio-label Wxpay"></label>
                        </div>
                    </div>
                </div>
                <a href="javascript:showmsg('请选择支付方式');" class="pay-btn">立即支付</a>
            </div>
        </div>
        <div class="bg" id="overlay"></div>
    </div>
    <script>
        $(function () {

            $('.rewrite-btn').on('click', function() {
                $('.rewrite-content-p').html($(this).attr('data-content'));
                $('#rewrite-id').val($(this).attr('data-id'));
                $('.rewrite-wrap').addClass('md-show')
            })

            var uploading = false;
            $('#fileBtn').on('change', function() {
                var file = $(this).get(0).files[0]
                var formData = new FormData();
                formData.append("file", file);
                if(uploading){
                    return false;
                }
                $.ajax({
                    url : '/index/ajax/upload',
                    type : 'POST',
                    data : formData,
                    contentType: false,
                    processData: false,
                    dataType : 'json',
                    beforeSend: function(){
                        uploading = true;
                    },
                    success : function(data){
                        if (data.code == 1) {
                            $('.file-value').val(data.data.url);
                        } else {
                            showmsg(data.msg)
                        }
                        uploading = false;
                    }
                });
            })

            $('input[name=pay]').prop('checked', false);

            starRate();
            $('.evaluate-btn').on('click', function() {
                $('.isSubmit-box').css('display', '');
                $('#reset').css('display', '');
                $('textarea[name=appraise]').val('');
                $('#reply-id').val($(this).attr('data-id'));
                $('.evaluate-wrap').addClass('md-show')
                $('#reset').trigger('click');
            })

            $('.evaluate-view-btn').on('click', function() {
                var starNUm = $(this).attr('data-star');
                $('.isSubmit-box').css('display', 'none');
                $('#reset').css('display', 'none');
                $('textarea[name=appraise]').val($(this).attr('data-appraise'));
                $('.evaluate-wrap').addClass('md-show')
                $('.click-star-' + starNUm).trigger('click');
            })

            $("#Alipay").click(function () {
                $('.pay-btn').attr('href', '/user/aliPay?trade_sn=' + $('#trade_sn').text());
            })

            $("#Wxpay").click(function () {
                $('.pay-btn').attr('href', '/user/wechatPay?trade_sn=' + $('#trade_sn').text());
            })

            $('.alter-btn').on('click', function() {
                $('#id').val($(this).attr('data-id'));
                $('.alter-wrap').addClass('md-show')
            })

            $('.confirm-btn').on('click', function() {
                $('#id-2').val($(this).attr('data-id'));
                $('.confirm-wrap').addClass('md-show')
            })

            $('.reply-btn').on('click', function() {
                $('.reply-content').html($(this).attr('data-val'));
                $('.reply-wrap').addClass('md-show')
            })

            $('.pay_btn').on('click', function() {
                $('#trade_sn').text($(this).attr('data-trade_sn'));
                $('#title').text($(this).attr('data-title'));
                $('#price').text($(this).attr('data-price'));
                $('.pay-wrap').addClass('md-show')
            })

            $('#confirm').on('click', function() {
                $('.alter-wrap').removeClass('md-show')
                $.ajax({
                    type: 'post',
                    data: $('#form1').serialize(),
                    url: '/user/deleteOL',
                    cache:false,
                    dataType:'json',
                    success: function (data) {
                        showmsg(data.msg, 'refresh')
                    },
                    error: function () {
                        showmsg('网络错误')
                    }
                })
            })

            $('#confirm-2').on('click', function() {
                $('.confirm-wrap').removeClass('md-show')
                $.ajax({
                    type: 'post',
                    data: $('#form3').serialize(),
                    url: '/user/confirm_finish',
                    cache:false,
                    dataType:'json',
                    success: function (data) {
                        showmsg(data.msg, 'refresh')
                    },
                    error: function () {
                        showmsg('网络错误')
                    }
                })
            })

            $.Tipmsg.r = null;
            $('#form2').Validform({
                btnSubmit:".sub-btn",
                tipSweep: true,
                ajaxPost:true,
                tiptype: function (msg, o, cssctl) {
                    if (!o.obj.is("form")) {
                        var objtip = o.obj.siblings(".checktip");
                        cssctl(objtip, o.type);
                        showmsg(msg);
                        return false;
                    }
                },
                callback:function(data){
                    if (data.code == 1) {
                        showmsg(data.msg, 'refresh');
                    } else {
                        showmsg(data.msg);
                    }
                }
            });
            $('#form4').Validform({
                btnSubmit:".btn",
                tipSweep: true,
                ajaxPost:true,
                tiptype: function (msg, o, cssctl) {
                    if (!o.obj.is("form")) {
                        var objtip = o.obj.siblings(".checktip");
                        cssctl(objtip, o.type);
                        showmsg(msg);
                        return false;
                    }
                },
                callback:function(data){
                    if (data.code == 1) {
                        $('.rewrite-wrap').removeClass('md-show')
                        showmsg(data.msg, 'refresh');
                    } else {
                        showmsg(data.msg);
                    }
                }
            });

            $('#cancel').on('click', function() {
                $('.alter-wrap').removeClass('md-show')
            })
            $('#cancel-2').on('click', function() {
                $('.confirm-wrap').removeClass('md-show')
            })

            $('.modal-close').on('click', function() {
                $('.alter-wrap').removeClass('md-show')
                $('.ask-question').removeClass('md-show')
                $('.rewrite-wrap').removeClass('md-show')
                $('.reply-wrap').removeClass('md-show')
                $('.confirm-wrap').removeClass('md-show')
                $('.evaluate-wrap').removeClass('md-show')
                $('.pay-wrap').removeClass('md-show')
                $(':input', '.formId')
                    .not(':button, :submit, :reset, :hidden')
                    .val('')
                    .removeAttr('checked')
                    .removeAttr('selected');
            })
        })
    </script>

{include file="public/footer"  /}