
{include file="public/head" isMember="1" /}

<div class="common-member-wrap">
    <div class="wp1200">
        <div class="c--wrap clearfloat">
            {include file="public/member_left_nav" /}
            <div class="c--member-right-wrap">
                <div class="c--inner release-scare-buying-wrap">
                    <h2 class="title rsbl-hd clearfloat">
                        <p class="tt">{$channel.name}列表</p>
                    </h2>
                    <div class="fun-btn-wrap clearfloat">
                        <a href="{:url('index/user/release_' . $action)}" class="js-release-btn c-btn">发布{$channel.name}</a>
                        <div class="info-box">
                            <div class="p">注：已下架的产品可修改后重新审核进行上架</div>
                            <div class="p">刷新：可通过对供应信息不定时刷新来提高信息的活跃度与曝光率；刷新不限次数！</div>
                        </div>
                    </div>
                    <div class="table-hd">
                        <div class="td-01 w300" style="width: 300px;">{if isset($title)}{$title}{else}标题{/if}</div>
                        <div class="td-01 w150" style="width: 60px;">浏览数</div>
                        <div class="td-01 w126">时间</div>
                        <div class="td-01 w50">状态</div>
                        <div class="td-01 w30" style="width: 120px;">操作</div>
                    </div>
                    <ul class="list-block">
                        {volist name="list" id="vo"}
                        <li class="js-list">
                            <div class="td-02 w300" style="width: 300px;">{$vo.title}</div>
                            <div class="td-02 w150" style="width: 60px;">{$vo.views}</div>
                            <div class="td-02 w126">{$vo.updatetime|date='Y-m-d H:i',###}</div>
                            <div class="td-02 w50" style="width: 60px;">{:__($vo.status)}</div>
                            <div class="td-02 w30" style="width: 120px;">
                                <a href="{:url('index/user/release_' . $action, ['id' => $vo['id']])}">编辑</a>
                                <a href="javascript:del({$vo.id})" style="margin-left: 7px">删除</a>
                                {if $vo.status == 'normal'}
                                <a href="{:url('user/repeat', ['id' => $vo['id']])}" style="margin-left: 7px">刷新</a>
                                {/if}
                            </div>
                        </li>
                        {/volist}
                    </ul>
                    <div class="paged">
                        {$list->render()}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        memberCenterEvent();
    })

    function del(id) {
        if (confirm('删除后不可恢复，确定要删除吗？')) {
            location.href = "/index/user/release_del/id/" + id;
        }
    }
</script>
{include file="public/footer"  /}
